/* COMMON FONTS */

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Black Italic';
    src: url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

/* COMMON THEME*/

:root {
    --hue: 160;
    --sat: 65%;

    --theme-05-percent: hsl(var(--hue), var(--sat), 5%);
    --theme-15-percent: hsl(var(--hue), var(--sat), 15%);
    --theme-25-percent: hsl(var(--hue), var(--sat), 25%);
    --theme-35-percent: hsl(var(--hue), var(--sat), 35%);
    --theme-45-percent: hsl(var(--hue), var(--sat), 45%);
    --theme-50-percent: hsl(var(--hue), var(--sat), 50%);
    --theme-65-percent: hsl(var(--hue), var(--sat), 65%);
    --theme-75-percent: hsl(var(--hue), var(--sat), 75%);
    --theme-85-percent: hsl(var(--hue), var(--sat), 85%);
    --theme-95-percent: hsl(var(--hue), var(--sat), 95%);

    background: var(--theme-85-percent);
    color: var(--theme-15-percent);

    font-family: 'Roboto Light';
}

/* COMMON GENERAL */

body
{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-areas: 'header main';
    grid-template-rows: auto auto;
}

header
{
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    grid-area: 'header';
}

main
{
    grid-area: 'main';
    /* padding-left: 25px;
    padding-right: 15px; */
}

section
{
    padding-left: 25px;
    padding-right: 15px;
}

section:not(#know-me)
{
  margin-top: 100px;
}

section > .title
{
    margin-bottom: 100px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* COMMON TEXT FORMATTING */

.emphasis-subject
{
    display: inline-block;
    font-family: 'Roboto Black';
    color: var(--theme-15-percent);
    text-shadow: 0px 0px 0.1rem var(--theme-15-percent);
}

.emphasis-predicate
{
    display: inline-block;
    font-family: 'Roboto Black';
    color: var(--theme-25-percent);
    text-shadow: 0px 0px 0.1rem var(--theme-25-percent);
}

.label-subject
{
    display: inline-block;
    margin-top: 5px;
    margin-right: 3px;
    font-family: 'Roboto Black';
    background-color: var(--theme-65-percent);
    box-shadow: 0px 0px 5px var(--theme-35-percent);
    text-shadow: 0px 0px 0.1rem var(--theme-35-percent);
    color: var(--theme-15-percent);
    border-radius: 0.50rem;
    padding: 4px 10px;
}

.title
{
    font-family: 'Roboto Black';
    color: var(--theme-05-percent);
    text-align: center;
    text-shadow: 0px 0px 0.2rem var(--theme-25-percent);
    font-size: 3rem;
}

/* COMMON ROUNDED BUTTON */

.rounded-button
{
    background: var(--theme-50-percent);
    color: var(--theme-95-percent);

    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25em;
    display: inline-block;
    transition: all 500ms;
    justify-self: center;
    box-shadow: 2px 2px 5px var(--theme-05-percent);
}

.rounded-button:hover
{
    background: var(--theme-75-percent);
    transform: scale(1.1);
}

/* HEADER */

header .visibility-buttons
{
    display: grid;
    margin-right: 10px;
    padding: 0;
}

header .visibility-buttons .button
{
    background-color: transparent;
    border: none;
    height: 3rem;
    padding: 0;
    grid-area: 1/1;
}

header #hidden-button
{
    display: none;
    margin-left: 5px;
}

header #navigation-panel
{
    display: none;
    flex-direction: column;
    padding: 20px;
    border-radius: 1rem;
    background-color: var(--theme-25-percent);
    box-shadow: 0px 0px 10px var(--theme-05-percent);
}

header #navigation-panel .item
{
    display: block;
    text-decoration: none;
    color: var(--theme-95-percent);
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

header #navigation-panel .item:hover
{
    background-color: var(--theme-45-percent);
}

/* KNOW-ME */

#know-me
{
    display: flex;
    flex-direction: column;
}

.profile-photo
{
    align-self: end;
}

#know-me > .description h1
{
    display: block;
    text-align: right;
    margin-bottom: 20px;
    font-size: 1.5em;
}

#know-me > .description h2
{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

#know-me > .description p
{
    text-align: end;
    font-family: "Roboto light";
    font-size: 1rem;
    text-shadow: none;
}

/* KNOWLEDGE */

main #knowledges .items {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0;
}

main #knowledges .items .item {
    display: inline-block;
    height: 5rem;
}

/* SERVICES */

.services
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.service
{
    display: flex;
    flex-direction: column;
    background-color: var(--theme-75-percent);
    padding: 20px;
    border-radius: 5vmin;
    box-shadow: 0px 0px 5px var(--theme-45-percent);
}

.service:not(:first-child)
{
    margin-top: 25px;
}

.service > .description
{
    font-family: "Roboto light";
    font-size: 1.25rem;
    text-align: right;
    text-shadow: none;
}

/* CONTACT-ME */

#contact-me
{
    margin-bottom: 100px;
    padding: 0;
}

#contact-me .title
{
    margin-left: 25px
}

.contacts
{
    display: flex;
    justify-content: center;
}

.contacts .media
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vmin;
}

.contacts .media .caption
{
    font-family: "Roboto Black";
    color: var(--theme-15-percent);
    font-size: 1.5rem;
}

/* @import './desktop/launcher.css' screen and (min-width: 992px); */