:root {
  --hue: 100;
  --sat: 45%;

  --theme-05-percent: hsl(var(--hue), var(--sat), 5%);
  --theme-25-percent: hsl(var(--hue), var(--sat), 25%);
  --theme-50-percent: hsl(var(--hue), var(--sat), 50%);
  --theme-75-percent: hsl(var(--hue), var(--sat), 75%);
  --theme-95-percent: hsl(var(--hue), var(--sat), 95%);
}