:root
{
    background: var(--theme-85-percent);
}

body
{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    flex-direction: row;
    background-color: var(--theme-35-percent);
    align-items: center;
}

section:not(#know-me)
{
  margin-top: 100px;
}