header > nav > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header > nav a
{
    text-decoration: none;
    color: var(--theme-95-percent);
    font-weight: bold;
}

header > nav a:hover
{
    background-color: var(--theme-45-percent);
}