
main .landing .skills {
  display: flex;
  flex-direction: column;
}

main .landing .skills .title {
  text-align: center;
}

main .landing .skills .items {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0;
}

main .landing .skills .items .item {
  display: inline-block;
  height: 5rem;
}