body
{
    display: grid;
    grid-template-areas: 'header main';
    grid-template-rows: auto auto;
}

header
{
    background-color: transparent;
    grid-area: 'header';
    top: 0;
    position: fixed;
    height: 100vh;
}

main
{
    grid-area: 'main';
    margin-left: 30px;
}