:root {
  background: var(--theme-85-percent);
}

body {
  margin: 0;
}

main {
  padding: 3rem 5rem;
}

section
{
  margin-top: 100px;
}

.title {
  font-family: 'Roboto Black';
  color: var(--theme-05-percent);
  font-size: 2rem;
}