header {
  display: grid;
  grid-template-areas: "one two";
  grid-template-rows: auto;
  grid-template-columns: 9fr 1fr;
  width: 100%;

  padding: 2em;
  position: fixed;
}

header .code-button {
  grid-area: two;
}

header > nav
{
  grid-area: one;
}

header > nav > ul > li
{
  float: left;
}

header > nav > ul > li > a
{
  padding: 10px 25px;
}